<div class="afterReg-header">
    <div class="container">
        <div class="logo"><a ng-href="#"><img src="images/blueLaptop.png"></a></div>
        <h1>Congratulations!</h1>
        <h2>Your Account Has Been Created</h2>
        <div class="continue">
            Before You
            Continue,<br>
            Please Read:<br>
            <img src="images/con-img.png">
        </div>
    </div>
</div>
<div class="afterReg-banner">
    <div class="container">
        <h4>Today We’re Offering</h4>
        <h3>
            30-day trial <br>
            of LAPTOP STARTUP PREMIUM
        </h3>
        <h2>For $1</h2>
        <div class="sing-up">
            <a ng-href="#">SIGN UP IN LESS THAN 60 SECONDS</a>
        </div>
        <div class="continue"> READ MORE<br>
           <img src="images/con-img.png">
        </div>
    </div>
</div>
<div class="afterReg-private">
    <div class="container">
        <h3> The ONLY Dedicated </h3>
        <h2> Private Online Marketing Community</h2>
        <p>
            where you can learn from experts on a daily basis as you walk step<br>
            by step through our premium training system for generating results like these…
        </p>
    </div>
</div>

<div class="afterReg-noise-section">
    <div class="container">
        <h2>With so much noise everywhere...</h2>
        <div class="row">
            <div class="afterReg-noise-top">
                <div class="col-md-4 col-sm-4">
                    <p>
                        How can you get the right information?
                        Is there anything proven that takes you through the entire process start to finish of making
                        money?
                    </p>
                </div>
                <div class="col-md-4 col-sm-4">
                    <p>
                        The sad fact is that right now
                        there is NO ONE PLACE where
                        you can get everything step by step
                        in an easy to understand format…
                    </p>
                </div>
                <div class="col-md-4 col-sm-4">
                    <p>
                        <br>
                        …or an enthusiastic and active community to support you
                        through the process helping you
                        to reach success faster
                        that you could have previously.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-10 col-md-offset-1">
            <h6> So We Created </h6>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="created-img-left">
                        <img src="images/afterRegLaptop.png">
                    </div>
                </div>
                <div class="col-md-8 col-sm-8">
                    <div class="created-text-right">
                        <h4>
                            Finally you can now for the first time ever walk step by step
                            through making money from your laptop with an online business
                            from ANYWHERE in the world…
                        </h4>
                        <h4>
                            …AND join a community of freedom seekers, travelers and successful online marketers living a life of
                            freedom without money worries.
                        </h4>
                    </div>
                </div>
            </div>
            <div class="premium-paid-part">
                <div class="premium-paid-part-top">
                    <h3> This is a premium paid forum</h3>
                    <p>
                        Not only can you communicate with experts in the community but you can also run through our step by step
                        training programs and case studies. Within hours you’ll see the opportunity you have at your finger tips and
                        you’ll understand how you can start running your own profitable online business from anywhere in the
                        world.
                    </p>
                </div>
                <div class="premium-paid-part-bottom">
                    <h3>You’ll be able to connect with many successful experts </h3>
                    <p>
                        and new friends who combined have generated millions online since Laptop Startup
                        began:
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="afterReg-premium-sec clearfix">
    <div class="container">

        <div class="row">
            <div class="col-md-5 col-sm-6">
                <div class="afterReg-premium-expert-left">
                    <img src="images/experts-1.jpg">
                </div>

                <div class="expert-box">
                    <h6>In my first few months online I built an online business, quit my job and now consistently earn
                        $1000+ every week working from home.</h6>
                    <div class="link-p"><a ng-href="#">SAM ROBINSON</a></div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-md-offset-1">
                <div class="afterReg-premium-expert-right">
                    <img src="images/experts-2.jpg">
                </div>
                <div class="expert-box expert-box-a">
                    <h6>
                        In my first few months online I built an online business, quit my job and now consistently earn
                        $1000+ every week working from home.
                    </h6>
                    <div class="link-p"><a ng-href="#">SAM ROBINSON</a></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="afterReg-premium-sec-bottom">
                   <a ng-href="#">
                       <img src="images/laptop-logo-blue.png">Here’s exactly what you are getting inside of Laptop Startup:
                   </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="afterReg-ad-block">
    <div class="container">
        <div class="row">
            <div class="col-md-11 col-md-offset-1">
                <ul>

                    <li>
                        <div class="ad-block-all-content">
                            <div class="ad-block-left-img">
                                <img src="images/advance.png">
                            </div>
                            <div class="ad-block-right-text">
                                <h2>Advanced training videos</h2>
                                <p>
                                    We go into more depth than is possible in the Free Laptop Startup lessons.<br>
                                    Learn cutting-edge techniques and "outside the box" strategies.
                                </p>
                            </div>
                        </div>
                    </li>


                    <li>
                        <div class="ad-block-all-content">
                            <div class="ad-block-left-img">
                                <img src="images/premium.png">
                            </div>
                            <div class="ad-block-right-text">
                                <h2>Free Premium Community Access</h2>
                                <p>
                                    You’re also getting access to our premium ‘experts’ community. Join a range of experts who have achieved freedom with online marketing and now travel the world working on their laptops.
                                    You’ll be able to connect with them and many other ‘now’ successful business owners.
                                    View past conversations, posts, make friends and ask questions.
                                </p>
                            </div>
                        </div>
                    </li>


                    <li>
                        <div class="ad-block-all-content">
                            <div class="ad-block-left-img">
                                <img src="images/shoulder.png">
                            </div>
                            <div class="ad-block-right-text">
                                <h2>"Over the shoulder" 3000 Leads In 30 Days videos</h2>
                                <p>
                                    Watch Sam Bakker build a profitable website then generate over 3000 leads in 30 days then use email marketing to generate over $10,000 from scratch.
                                    These videos are transparent and step by step.
                                </p>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="afterReg-exclusive">
        <h2>EXCLUSIVE: 5 step strategy</h2>
        <p>
            Creating your own products to sell online is one of the best ways to make money online. <br>
            You’re going to get an easy to implement 5 step strategy to having your own product up, running and selling
            within days.
        </p>
    </div>
</div>

<div class="afterReg-ex-premium">
    <div class="afterReg-ex-premium-content">
        <h4><img src="images/afterRegLaptop.png"> Exclusive To Premium Members:</h4>
    </div>
</div>

<div class="container">
    <div class="afterReg-salesPages ">
        <div class="row">
            <div class="col-md-8">
                <div class="pagebudy"><img src="images/pagebudy.png"></div>
            </div>
            <div class="col-md-4">
                <h2>Get exclusive Beta access to PageBuddy</h2>
                <p>
                    ** PageBuddy is currently in Beta and ONLY available to Laptop Startup Premium members. Here's your
                    chance to be the first to use the software before it’s made available to the public.
                    Our new groundbreaking software tool gives you
                    the ability within minutes to create professional
                    ‘money making’ websites, Sales pages and blogs.
                </p>
            </div>
        </div>
        <div class="row">
            <h3>Create Salespages, Opt-In Pages, Blogs & Professional Websites</h3>
            <div class="blog-c clearfix">
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <div class="afterReg-blog-content">
                        <img src="images/product.png">
                        <h4>Sell Your Products</h4>
                        <h5>With Page Buddy Within Minutes</h5>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="afterReg-blog-content">
                        <img src="images/design.png">
                        <h4>No Programming, Design Needed</h4>
                        <h5>Our Drag N Drop Interface Makes It Easy To Edit Everything.</h5>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="afterReg-blog-content">
                        <img src="images/customizeable.png">
                        <h4>100% Customizeable </h4>
                        <h5> You Can Customize Your Website To Look As You Want It!</h5>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="afterReg-blog-content">
                        <img src="images/templat.png">
                        <h4>READY TEMPLATES</h4>
                        <h5>
                            Use Our Proven Converting Salespage, Opt-in & Website Templates Already Built Into Page
                            Buddy
                        </h5>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="afterReg-blog-content">
                        <img src="images/statistics.png">
                        <h4>Full statistics</h4>
                        <h5>
                            let you look into exactly
                            how well your page is working, how many visitors are converting into leads and sales.
                        </h5>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
        <h6>
            Comes with a full step by step guide to creating effective high-converting money making
            websites
        </h6>
        <h6>
            (NOTE: This tool is a game-changer! We used it to create this page)
        </h6>
    </div>
</div>
<div class="afterReg-money-back">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5 col-sm-6">
                <div class="money-block-content">
                    <div class="free-block-money">
                        <h2>FREE</h2>
                        <ul>
                            <li  class="active">10+ Free Introduction Video Training</li>
                            <li class="active">Getting Started 1 hour live group <br>
                                coaching session with Sam Bakker
                            </li>
                            <li class="select-y">Step by Step Video Training & Guides</li>
                            <li class="select-y">Premium Community Access</li>
                            <li class="select-y">‘Over the shoulder’ 3000 Leads in 30 Days videos</li>
                            <li class="select-y">Advanced training videos</li>
                            <li class="select-y">Page Buddy Access (Unlimited Licences)</li>
                        </ul>
                        <div class="choose-btn"><a ng-href="#">CHOOSE THE PLAN</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-6">
                <div class="money-block-content">
                    <div class="trial-money-block">
                        <h2 class="pink">$1 TRIAL </h2>
                        <h3>AVAILABLE FOR A LIMITED TIME</h3>
                        <ul>
                            <li>10+ Free Introduction Video Training</li>
                            <li >Getting Started 1 hour live group <br>
                                coaching session with Sam Bakker
                            </li>
                            <li>Step by Step Video Training & Guides</li>
                            <li>Premium Community Access</li>
                            <li>‘Over the shoulder’ 3000 Leads in 30 Days videos</li>
                            <li>Advanced training videos</li>
                            <li>Page Buddy Access (Unlimited Licences)</li>
                        </ul>
                        <div class="choose-btn btn-2"><a ng-href="#">CHOOSE THE PLAN</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>

    </div>
    <div class="guarantee-title">

        <div class="container">
            <div class="guarantee-img"><img src="images/guarantee.png"></div>
            <h2>Unbreakable 60-Day Money Back Guarantee!</h2>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <p>Because we want you to start today with total peace of mind your
                        investment is backed up by a full 60 day guarantee - you will be ordering with confidence and
                        this eliminates any kind of risk on your part, because if our support ninjas can't fix your
                        technical issues, we'll refund you in full.
                    </p>
                </div>
                <div class="col-md-4 col-sm-4">
                    <p>For that reason, we ask you to buy only when you are confident that
                        you can benefit from this software and will follow the tutorials to install and get started.
                    </p>
                </div>
                <div class="col-md-4 col-sm-4">
                    <p>We aim to work closely with serious marketers who are ready to take
                        their business to the next level and if you are one of those people, jump in and give this a try
                        without worrying about anything
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>