<div class="wrapper sales-page">
    <!---Header start--->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-4 header-part-1 sales-p-header clearfix">
                    <div class="block-container pull-right-block">
                        <img src="images/logo-s.png" alt="" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-6 header-part-2 sales-p clearfix">
                    <ul class="web-header">
                        <li>
                            <a href="javascript:;">
                                Questions?
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                0800-448938
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                Support
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                Favorites
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2 header-part-3 sales-p-right">
                    <span>Sam Baker </span>
                    <img src="images/profile-img.png" alt="">
                    <i class="fa fa-power-off" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </header>
    <!---Header END--->
    <!-----Content--------->
    <section class="content-wrapper">
        <div class="col-md-8 col-md-offset-2 sales-container">
            <img src="images/logo-build.png" alt="" class="img-responsive">
            <h3 class="sales-title text-center">Easy Drag & Drop Online Pages builder</h3>
            <h1 class="sales-subtitle text-center">COMING SOON</h1>
            <form action="">
                <div class="col-md-8 col-md-offset-2 inform-form text-center">
                        <h4>enter your details TO BE INFORMED:</h4>
                       <input placeholder="Name" type="text" required>
                       <input placeholder="Email" type="text" required>
                    <button class="go-button">
                        submit
                    </button>
                </div>
            </form>
            <div class="col-md-10 col-md-offset-1 buddy-back no-padd">
                <img src="images/sales-back.png" alt="" class="img-responsive">
            </div>

        </div>

    </section>
    <!-----Content END--------->
</div>