/* Fonts used */

@font-face {
    font-family: 'open_sansitalic';
    src: url('opensans-italic-webfont.eot');
    src: url('opensans-italic-webfont.eot?#iefix') format('embedded-opentype'), url('opensans-italic-webfont.woff2') format('woff2'), url('opensans-italic-webfont.woff') format('woff'), url('opensans-italic-webfont.ttf') format('truetype'), url('opensans-italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('opensans-regular-webfont.eot');
    src: url('opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('opensans-regular-webfont.woff2') format('woff2'), url('opensans-regular-webfont.woff') format('woff'), url('opensans-regular-webfont.ttf') format('truetype'), url('opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansbold';
    src: url('opensans-bold-webfont.eot');
    src: url('opensans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('opensans-bold-webfont.woff2') format('woff2'), url('opensans-bold-webfont.woff') format('woff'), url('opensans-bold-webfont.ttf') format('truetype'), url('opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('opensans-semibold-webfont.eot');
    src: url('opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('opensans-semibold-webfont.woff2') format('woff2'), url('opensans-semibold-webfont.woff') format('woff'), url('opensans-semibold-webfont.ttf') format('truetype'), url('opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('opensans-light-webfont.eot');
    src: url('opensans-light-webfont.eot?#iefix') format('embedded-opentype'), url('opensans-light-webfont.woff2') format('woff2'), url('opensans-light-webfont.woff') format('woff'), url('opensans-light-webfont.ttf') format('truetype'), url('opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansbold';
    src: url('opensans-bold-webfont.eot');
    src: url('opensans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('opensans-bold-webfont.woff2') format('woff2'), url('opensans-bold-webfont.woff') format('woff'), url('opensans-bold-webfont.ttf') format('truetype'), url('opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('opensans-semibold-webfont.eot');
    src: url('opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('opensans-semibold-webfont.woff2') format('woff2'), url('opensans-semibold-webfont.woff') format('woff'), url('opensans-semibold-webfont.ttf') format('truetype'), url('opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'montserratbold';
    src: url('montserrat-bold-webfont.woff2') format('woff2'),
    url('montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratregular';
    src: url('montserrat-regular_1-webfont.woff2') format('woff2'),
    url('montserrat-regular_1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratregular';
    src: url('montserrat-regular-webfont.woff2') format('woff2'),
    url('montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNextLTPro-Regular';
    src: url('AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('AvenirNextLTPro-Regular.otf')  format('opentype'),
    url('AvenirNextLTPro-Regular.woff') format('woff'),
    url('AvenirNextLTPro-Regular.ttf')  format('truetype'),
    url('AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'AvenirLTStd-Roman';
    src: url('AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'),
    url('AvenirLTStd-Roman.woff') format('woff'), url('AvenirLTStd-Roman.ttf')  format('truetype'),
    url('AvenirLTStd-Roman.svg#AvenirLTStd-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'Georgia';
    src: url('Georgia.eot?#iefix') format('embedded-opentype'),
    url('Georgia.woff') format('woff'),
    url('Georgia.ttf')  format('truetype'),
    url('Georgia.svg#Georgia') format('svg');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'AvenirLTStd-Medium';
    src: url('AvenirLTStd-Medium.eot?#iefix') format('embedded-opentype'),
    url('AvenirLTStd-Medium.otf')  format('opentype'),
    url('AvenirLTStd-Medium.woff') format('woff'),
    url('AvenirLTStd-Medium.ttf')  format('truetype'),
    url('AvenirLTStd-Medium.svg#AvenirLTStd-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica';
    src: url('Helvetica.eot?#iefix') format('embedded-opentype'),
    url('Helvetica.otf')  format('opentype'),
    url('Helvetica.woff') format('woff'),
    url('Helvetica.ttf')  format('truetype'),
    url('Helvetica.svg#Helvetica') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaLight';
    src: url('HelveticaLight.eot?#iefix') format('embedded-opentype'),
    url('HelveticaLight.woff') format('woff'),
    url('HelveticaLight.ttf')  format('truetype'),
    url('HelveticaLight.svg#HelveticaLight') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Avenir LT Std';
    src: url('AvenirLTStd-Heavy.eot');
    src: url('AvenirLTStd-Heavy.eot?#iefix') format('embedded-opentype'),
    url('AvenirLTStd-Heavy.woff') format('woff'),
    url('AvenirLTStd-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('AvenirNextLTPro-Demi.eot');
    src: url('AvenirNextLTPro-Demi.eot?#iefix') format('embedded-opentype'),
    url('AvenirNextLTPro-Demi.woff') format('woff'),
    url('AvenirNextLTPro-Demi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('AvenirNextLTPro-Bold.eot');
    src: url('AvenirNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('AvenirNextLTPro-Bold.woff') format('woff'),
    url('AvenirNextLTPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('AvenirNextLTPro-HeavyCn.eot');
    src: url('AvenirNextLTPro-HeavyCn.eot?#iefix') format('embedded-opentype'),
    url('AvenirNextLTPro-HeavyCn.woff') format('woff'),
    url('AvenirNextLTPro-HeavyCn.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/*********/
